@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

body {
  background-color: #1a1a1a; 
  color: #d8d8d8; 
  font-family: Arial, sans-serif; 
}

h1 { 
  font-family: 'Cinzel', serif; 
  color: #ffffff;
  border-bottom: 1px solid #727272; 
  padding-bottom: 0px;
}

h2 {
  font-family: 'Cinzel', serif; 
  color: #ffffff;
  border-bottom: 1px solid #727272; 
  padding-bottom: 5px;
}

a {
  color: #8da4c4; 
  text-decoration: none; 
}

a:hover {
  color: #ffffff; /* Fica branco quando passa o mouse por cima */
}

li a {
  color: #a8983b; 
  text-decoration: none; 
} /* Cor dos links na lista */

a {
  color:  #a8983b; 
  text-decoration: none; 
} 

.cabecalho {
    display: flex;
    align-items: center;
    gap: 20px;
}

.cabecalho img {
    width: 50px;
    height: auto;
}

.cabecalho h1 {
    margin: 0;
}

footer {
    margin-top: 50px;
    padding-top: 15px;
    border-top: 1px solid #555;
    color: #999;
    font-size: 13px;
    text-align: center;
}